<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patience.solitaire">

    <application
        android:name="com.patience.solitaire.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name="com.patience.solitaire.ui.about.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/about_name"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.patience.solitaire.ui.Statistics"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.patience.solitaire.ui.settings.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppThemeActionBar" />

        <activity
            android:name="com.patience.solitaire.ui.settings.SettingsGames"
            android:label="@string/settings_games"
            android:theme="@style/AppThemeActionBar" />

        <activity android:name="com.patience.solitaire.ui.GameManager" />
        <activity
            android:name="com.patience.solitaire.ui.manual.Manual"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/game_manual"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.patience.solitaire.ui.GameSelector"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>